@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Muli:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #77c987;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  width: 90%;
  max-width: 150rem;
  height: 80vh;
  background-color: #2c2c2d;
  color: #eee;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: minmax(38%, 40rem) repeat(2, minmax(29%, 29rem));
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;
}
